{{#section 'title'}}
    Đổi mật khẩu
{{/section}}
{{#section 'breadcrumbs'}}
    <div class="row container-fluid">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="/home">Trang chủ</a></li>
            <li><a href="/account/profile">Tài khoản</a></li>
            <li class="active"><span>Đổi mật khẩu</span></li>
        </ol>
        <!-- /Đường dẫn -->
    </div>
{{/section}}
{{#section 'css'}}
    <link href="/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" media="all" />
    <style type="text/css">
    .btn-account i {
        margin-top: 2%;
        font-size: 30px;
    }
    
    .btn-account span {
        padding-left: 15px;
        padding-right: 5px;
        width: 100%;
        display: inline-block;
        text-align: left;
        font-size: 130%;
    }
    
    .btn-account span small {
        width: 100%;
        display: inline-block;
        text-align: left;
    }
    </style>
{{/section}}
{{#section 'js'}}
    <script type="text/javascript" src="/assets/bootstrap-4.3.1-dist/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/assets/jquery-validation-1.12.0/jquery.validate.min.js"></script>
    <script type="text/javascript">
    $('.form_date').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('#formInfo').validate({
        ignore: ".ignore",
        rules: {
            oldPW: {
                required: true,
                minlength: 8
            },
            newPW: {
                required: true,
                minlength: 8
            },
            renewPW: {
                required: true,
                minlength: 8,
                equalTo: '#txtNewPW'
            }
        },

        messages: {
            oldPW: {
                required: 'Vui lòng nhập mật khẩu cũ',
                minlength: 'Mật khẩu phải ít nhất 8 kí tự'
            },
            newPW: {
                required: 'Vui lòng nhập mật khẩu mới',
                minlength: 'Mật khẩu phải ít nhất 8 kí tự'
            },
            renewPW: {
                required: 'Vui lòng xác nhận mật khẩu mới',
                minlength: 'Mật khẩu phải ít nhất 8 kí tự',
                equalTo: 'Mật khẩu xác nhận không khớp'
            },

        },

        errorElement: 'span',
        errorClass: 'help-block',

        highlight: function(element) {
            $(element)
                .closest('.form-group')
                .addClass('has-error');
        },

        success: function(label) {
            $(label)
                .closest('.form-group')
                .removeClass('has-error');

            label.remove();
        },
    });
    </script>
{{/section}}
<div class="container">
<form class="form-horizontal" method="POST" id="formInfo">
    <!-- Panel -->
    <div class="col-md-12">
        <div class="panel panel-default" style="border-color:white;">
            <div class="panel-heading" style="background-color: rgb(255, 51, 153); color:#fff">
                Đổi mật khẩu
            </div>
            <div class="panel-body">
                <!-- panel body -->
                {{#if successMsg }}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Thành công! </strong> {{ errorMsg }}
                    </div>
                {{/if}}
                {{#if failMsg }}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Không thành công! </strong> {{ errorMsg }}
                    </div>
                {{/if}}
                <div class="col-sm-8">
                    <div class="form-group">
                        <!-- Nhập mật khẩu cũ -->
                        <label class="control-label col-sm-5" for="txtOldPW">Mật khẩu cũ
                            <label style="color:#f00">*</label>
                        </label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="txtOldPW" name="oldPW">
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Nhập mật khẩu mới -->
                        <label class="control-label col-sm-5" for="txtNewPW">Mật khẩu mới
                            <label style="color:#f00">*</label>
                        </label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="txtNewPW" name="newPW">
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Nhập lại mật khẩu mới -->
                        <label class="control-label col-sm-5" for="txtConfirmPW">Xác nhận mật khẩu mới
                            <label style="color:#f00">*</label>
                        </label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="txtConfirmPW" name="renewPW">
                        </div>
                    </div>
                </div>
            </div>
            <!-- panel body -->
            <div class="panel-footer">
                <div class="col-sm-offset-4">
                    <button type="submit" class="btn btn-success" style="margin-right: 10px">Xác nhận</button>
                    <button type="reset" class="btn btn-danger">Hủy</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Panel -->
</form>
<!-- form -->
</div>
</div>