{{#section 'title'}} Đăng ký {{/section}}
{{#section 'css'}}
    <link href="/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" media="all" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <style type="text/css">
    label {
        font-weight: normal !important;
    }
   .g-recaptcha{
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        outline: none;
   }
    </style>
{{/section}}
{{#section 'js'}}
    <script src="/assets/jquery-validation-1.12.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap-4.3.1-dist/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript">
    $('.form_date').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    function recaptchaCallback() {
        $('#hiddenRecaptcha').valid();
    };
    $('#frmRegister').validate({
        ignore: ".ignore",
        rules: {
            username: {
                required: true
            },
            rawPWD: {
                required: true,
                minlength: 8
            },
            cPWD: {
                equalTo: '#txtrawPWD'
            },
            name: {
                required: true
            },
           address: {
               required:true
           },
            phone:{
                required:true
            },
            email: {
                required: true,
                email: true
            },
            dob: {
                required: true
            },

            policy: {
                required: true
            },

            radioGender: {
                required: true
            },

            hiddenRecaptcha: {
                required: function() {
                    if (grecaptcha.getResponse() == '') {
                        return true;
                    } else {
                        return false;
                    }

                }
            }

        },

        messages: {
            username: {
                required: 'Vui lòng nhập username.'
            },
            rawPWD: {
                required: 'Vui lòng nhập mật khẩu',
                minlength: 'Mật khẩu phải phải có ít nhất 8 ký tự'
            },
            cPWD: {
                equalTo: 'Mật khẩu nhập lại chưa khớp'
            },
            name: {
                required: 'Vui lòng nhập họ tên'
            },
            address:{
                required:'Vui lòng nhập địa chỉ'
            },
            phone:{
                 required:'Vui lòng nhập số điện thoại'
            }
            ,
            email: {
                required: 'Vui lòng nhập email',
                email: 'Email không đúng định dạng'
            },
            dob: {
                required: 'Vui lòng chọn ngày sinh'
            },

            policy: {
                required: 'Vui lòng đồng ý với điều khoản của web'
            },

            radioGender: {
                required: 'Vui lòng chọn giới tính'
            },
            hiddenRecaptcha: {
                required: 'Nhập capcha'
            }
        },

        errorElement: 'span',
        errorClass: 'help-block',

        highlight: function(element) {
            $(element)
                .closest('.form-group')
                .addClass('has-error');
        },

        success: function(label) {
            $(label)
                .closest('.form-group')
                .removeClass('has-error');

            label.remove();
        },
    });
    </script>
{{/section}}
{{#section 'breadcrumbs'}}
    <div class="row">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="/home">Trang chủ</a></li>
            <li class="active"><span>Đăng ký</span></li>
        </ol>
        <!-- /Đường dẫn -->
    </div>
{{/section}}